.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  min-height: 52px;
  padding: 10px;
  font-family: inherit;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: $special-grey-dark;
  border: 2px solid $special-grey-dark;
  background-color: $basic-white;
  outline: none;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $basic-white;
    background-color: $special-grey-dark;
  }

  &:active {
    color: transparentize($basic-white, 0.3);
  }

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 16px;
  }
}
